<ion-view view-title="Event">
  <ion-content>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{ vm.event.host.firstName }} {{ vm.event.host.lastName }}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{ vm.event.host.address }}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{ vm.event.host.phone }}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{ vm.event.host.email }}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>
    <ion-list>
      <ion-item ng-repeat="user in vm.event.participants" href="#/app/user/{{user.id}}">
        <h2><i class="icon" ng-class="{'ion-checkmark-round': user.isComing, 'ion-close-round': !user.isComing}"></i> {{ user.firstName }}</h2>
        <h3>{{ user.comment }}</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
