<ion-view view-title="Events">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-android-add" ui-sref="app.event">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item class="item item-divider">
      Upcoming
      </ion-item>
      <ion-item ng-repeat="event in vm.upcomingEvents" href="#/app/event/{{event._parseObj.id}}">
        <h2>{{event.date |  date:'medium' }}</h2>
        <h3>Hosted by {{ event.host.firstName }}</h3>
        <h3>{{ event.notes }}</h3>
      </ion-item>
      <ion-item class="item item-divider">
      Past
      </ion-item>
      <ion-item ng-repeat="event in vm.pastEvents" href="#/app/event/{{event._parseObj.id}}">
        <h2>{{event.date |  date:'medium' }}</h2>
        <h3>Hosted by {{ event.host.firstName }}</h3>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
