<ion-view view-title="Login">


  <ion-content>
      <div class="row">
        <div class="col s12 m7">
          <div class="card small">
            <div class="card-image">
              <img src="img/login_p_small.jpg">
              <span class="card-title">Eventer</span>
            </div>
            
                          <form id="vmloginForm" name="vm.loginForm" novalidate>

            <div class="card-content" style="font-size: 0.6em">

                <div class="row">
                  <div class="input-field col s6">
                    <input type="email" ng-model="vm.loginData.username" id="username" name="username" required class="validate">
                    <label for="username">Email</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="password" ng-model="vm.loginData.password" id="password" name="password" required class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>

            </div>
            <div class="card-action">
              <a ng-click="vm.doLogin()">Login</a>
            
              <div ng-if="vm.loginData.inProgress" class="progress">
                <div class="indeterminate"></div>
              </div>
              <span ng-show="vm.loginError" class="tiny-text assertive">{{ vm.loginError }}</span>
            </div>
                          </form>
          </div>
        </div>
      </div>

    <br>
    </div>

    <br>
    <p>&nbsp;</p>

  </ion-content>

  <div class="button-bar login-help">
    <a class="button button-small button-outline blue-text" ui-sref="signup">Sign Up</a>
    <a class="button button-small button-outline" ng-click="vm.resetPassword()">Forgot Password</a>
  </div>
</ion-view>
