/* Empty. Add your own CSS if you like */


/* Ionic overwrites */
/**
 * Content Padding
 * --------------------------------------------------
 */
.padding-20 {
  padding: 20px; }

.padding-top-20, .padding-vertical-20 {
  padding-top: 20px; }

.padding-right-20, .padding-horizontal-20 {
  padding-right: 20px; }

.padding-bottom-20, .padding-vertical-20 {
  padding-bottom: 20px; }

.padding-left-20, .padding-horizontal-20 {
  padding-left: 20px; }

.login-help {
    position: fixed;
    bottom: 0;
}

.tiny-text {
  font-size: 0.6em;
}

.angular-google-map-container { 
  height: 400px; 
}